
<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <app-navigation-bar></app-navigation-bar>
    <div class="container">
        <!-- Academic Projects -->
        <div class="row heading">
            <b>Academic Projects</b>
        </div>
        <!-- Academic Project 1 -->
        <div class="row projects_container">
            <div class="image_container col-xs-12 col-md-4">
                <img src="./assets/images/projects/point_mutations.png" class="responsive_photo">
            </div>
            <div class="text_container col-xs-12 col-md-8">
                <p><b>Detection and Investigation of De novo mutations</b></p>
                <p>Oct 2022–Present</p>
                <p>Supervisor: Prof Kenta Nakai, The Institute of Medical Sciences, The University of Tokyo, Tokyo</p>
                <p>
                The project can be divided into two parts. In the first part of the project I am developing a rapid 
                algorithm for mining point de novo mutations across multiple genomes of a species. In the second step,
                I plan to use this algorithm for creating a mutation dataset and then investigating it for finding patterns
                behind the occurence of similar types of mutations.
                </p>
            </div>
        </div>    

        <!-- Personal Projects -->
        <div class="row heading">
            <b >Personal Projects</b>
        </div>
        <!-- Personal Project 1 -->
        <div class="row projects_container">
            <div class="image_container col-xs-12 col-md-4">
                <img src="./assets/images/projects/novel_subunit_vaccine.jpg" class="responsive_photo">
            </div>
            <div class="text_container col-xs-12 col-md-8">
                <p><b>A new approach to subunit vaccines using genetically engineered bacteriophages,
                    that combines the safety of subunit vaccines with the long-lasting immunogenicity of live-attenuated
                    vaccines</b></p>
                <p>Mar 2020–Aug 2020</p>
                <p>
                    My hypothesis proposes to exploit the human microbiome by infecting them with genetically-modified
                    bacteria capable of expressing the immunogenic protein, leading to the subsequent expression and absorption
                    of the immunogen into our body, thus, facilitating a safe and long-lasting immune response.
                </p>
            </div>
        </div>
        <!-- Personal Project 2 -->
        <div class="row  projects_container">
            <div class="image_container col-xs-12 col-md-4">
                <img src="./assets/images/projects/feedback_thermal_cycler.jpg" class="responsive_photo">
            </div>
            <div class="text_container col-xs-12 col-md-8">
                <p><b>Feedback Thermal Cycler-A machine for the bulk production of DNA templates to boost
                    up cell-free protein synthesis
                </b></p>
                <p>Dec 2017–Present</p>
                <p>
                I have theoretically developed the design of a specialized thermal cycler than can work continuously and
                recursively to produce a large amount of DNA templates that can be used for carrying out cell-free protein
                synthesis in large scale.
                </p>
            </div>
        </div>    
    </div>



      
</body>
</html>


