
<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <app-navigation-bar></app-navigation-bar>
    <div class="for_big_screen">
        <div class="row">
            <div class="col-sm-5"> 
                <br>    
                <img src="./assets/images/profile_image.jpg" class="responsive_photo_large_screen">
            </div>
            <div class="col-sm-7">
                
                <div class="info_large_screen">
                    <br>
                    <!-- About me-->
                    <p><b style="font-size: large;">About me</b></p>
                    <p>
                    Hey there! My name is Prittam Goswami and I'm a graduate student 
                    at the Department of Computational Biology and Medical Sciences at the University of Tokyo.
                    Here, you'll find information about my ongoing research projects, 
                    and publications, as well as updates about my personal life and hobbies. Thank you for visiting!
                    </p>
                    <br>
                    <!-- Education details-->
                    <p><b>Education</b></p>
                    <div class="row education">
                        <!-- Education 1-->
                        <div class="col-3">2022-Now</div>
                        <div class="col-7">MS in Computational Biology and Medical Sciences, <a href="https://www.u-tokyo.ac.jp/en/">UTokyo</a></div> 
                        <!-- Education 2-->
                        <div class="col-3">2016-2020</div>
                        <div class="col-7">BTech in Biotechnology, <a href="https://hithaldia.ac.in">HIT Haldia</a></div> 
                    </div>
                    <br>
                    <!-- CV-->
                    <div>
                        <img class="icon" src="./assets/images/cv.png"><a href="https://drive.google.com/file/d/1rjiPPKiO4y9kl7Suus9kcbIKN5JEvTis/preview">&nbsp;CV&nbsp;</a>(January 2023)
                    </div>
                    <!--email-->
                    <div>
                        <img class="icon" src="./assets/images/email.png"><a href="mailto:prittamgoswami@g.ecc.u-tokyo.ac.jp">&nbsp;prittamgoswami@g.ecc.u-tokyo.ac.jp</a>
                    </div>
                    <!--Address-->
                    <div>
                        <img class="icon" src="./assets/images/office.png">&nbsp;Fais, IMSUT, Minato city, Tokyo
                    </div>
                </div>
            </div>
            
        </div>    
    </div>

    <div class="for_mobile_screen row">
        <div class="col-12" style="text-align: center;">
                <img src="./assets/images/profile_image.jpg" class="responsive_photo_mobile_screen">
            
        </div>
        <div class="row info_mobile_screen">
            <p style="margin-top: -20px;"><b style="font-size: large;">About me</b></p>
            <p>
            Hey there! My name is Prittam Goswami and I'm a graduate student 
            at the Department of Computational Biology and Medical Sciences at the University of Tokyo.
            Here, you'll find information about my ongoing research projects, 
            and publications, as well as updates about my personal life and hobbies. Thank you for visiting!
            </p>
            <br>
            <!-- Education details-->
            <p><b>Education</b></p>
            <div class="row education_mobile_screen">
                <!-- Education 1-->
                <div class="col-3">2022-Now</div>
                <div class="col-7">MS in Computational Biology and Medical Sciences, <a href="https://www.u-tokyo.ac.jp/en/">UTokyo</a></div> 
                <!-- Education 2-->
                <div class="col-3">2016-2020</div>
                <div class="col-7">BTech in Biotechnology, <a href="https://hithaldia.ac.in">HIT Haldia</a></div> 
            </div>
            <br>
            
            <div>
                <!-- CV-->
                <div>
                    <img class="icon" src="./assets/images/cv.png"><a href="https://drive.google.com/file/d/1rjiPPKiO4y9kl7Suus9kcbIKN5JEvTis/preview">CV&nbsp;</a>(January 2023) 
                </div>
                <!--email-->
                <div>
                    <img class="icon" src="./assets/images/email.png"><a href="mailto:prittamgoswami@g.ecc.u-tokyo.ac.jp">prittamgoswami@g.ecc.u-tokyo.ac.jp</a>
                </div>
                <!--Address-->
                <div>
                    <img class="icon" src="./assets/images/office.png">Fais, IMSUT, Minato city, Tokyo
                </div>
            </div>
        </div>
        
    </div>

      
</body>
</html>


