
@media (max-width: 767px) {
    .for_big_screen {
      display: none;
      
    }
}

@media (min-width: 768px) {
    .for_mobile_screen {
      display:none;
      width: 100%;

    }
  }

body{ 
    overflow-x :hidden; 
    }  
 
.for_big_screen{
    padding: 15px;
}

  
.responsive_photo_large_screen{
    padding: 25px;
    width: 100%;
    max-width: 400px;
    height: auto;
    float: right;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 10px;
  }  

  
.info_large_screen{
    padding: 15px 25px 35px 25px;
    text-align: justify; 
    max-width: 500px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: 15px;
    margin-bottom: 25px;

}  

.education{
    justify-items: start;
}

.icon{
    margin-top: -4px;
    height: 18px;
    padding: 2px;
}

.responsive_photo_mobile_screen{
    width: 100%;
    max-width: 500px;
    height: auto;
    z-index: -1;
}

.info_mobile_screen{
    padding: 3em;
    font-size: medium;
    text-align: justify;
    
}

.education_mobile_screen{
    justify-content:start;
    padding-bottom: 10px;
}