
<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <app-navigation-bar></app-navigation-bar>
    
    <div class="container">
        
        <div class="row small_container" >

            <!-- Change your review articles below -->
            <div>
            <p  class="headings"> <b>Review Articles</b></p>
                <div class="row" style="padding: 15px;text-align: justify;">
                    <p>A Kaur, M Chopra, M Bhushan, S Gupta, PH Kumari, N Sivagurunathan, N Shukla, S Rajagopal, P Bhalothia,
                        P Sharma, J Naravula, R Suravajhala, A Gupta, BA Abbasi, P Goswami, H Singh, R Narang, R Polavarapu,
                        KM Medicherla, J Valadi,. . . P Suravajhala, (2021) The Omic Insights on Unfolding Saga of COVID-19,
                        Frontiers in Immunology. (Impact Factor: 7.97)</p>
                    <p>P Goswami (2020) Aurora and its underlying science, Springer, Resonance: J. Sci. Edu. (Impact Factor:
                        0.38)</p>
                    <p>R Biswas, D Ghosh, B Dutta, U Halder, P Goswami, R Bandopadhyay, (2020) Potential non-coding RNAs
                        from microorganisms and its therapeutic use in the treatment of different human cancers, Springer, Curr. Gene
                        Ther. (Impact Factor: 2.160)</p>    
                    <p>A Mudhoo, S Paliya, P Goswami, M Singh, G Lofrano, M Carotenuto, F Carraturo, G Libralato, M Guida,
                        M Usman, S Kumar, (2020) Fabrication, functionalization and performance of doped photocatalysts for dye
                        degradation and mineralization, Springer, Environ. Chem. Lett. (Impact Factor: 13.51)</p>    
                    <p>K Soren, A Kabiraj, P Goswami, A Banerjee, R Bandopadhyay,(2020) A Breakthrough on Cancer Therapy by
                        Inhibition of Negative Immune Regulation: Nobel Prize in Physiology or Medicine 2018, Springer, Natl. Acad.
                        Sci. Lett. (Impact Factor: 0.788)</p>   
                    <p>P Roy, P Goswami, (2019) Freeze tolerance in wood frogs, J. Investig. Genomics., 6(1), 1-4</p>                                             
                </div>    
            </div>
            
            <!-- Modify your Book chapters below -->
            <div>
                <p class="headings"> <b>Book Chapters</b></p>
                <div class="row" style="padding: 15px;text-align: justify;">
                        <p>T Agarwal, R Suravajhala, M Bhushan, P Goswami, L Iddamalgoda, B Malik, J Valadi, P Suravajhala, (2020)
                            Recent Advances in Gene and Genome Assembly: Challenges and Implications, Advances in Synthetic Biology,
                            Springer, Singapore, 199-220. (ISBN: 978-981-15-0081-7)
                        </p>                                           
                </div>    
            </div>     
            <!-- Modify your hypotheses below -->            
            <div>
                <p class="headings"> <b>Hypotheses</b></p>
                <div class="row" style="padding: 15px;text-align: justify;">
                    <p>P Goswami, P Roy, (2019) Using Oncolytic Viruses to Silence the Multidrug Resistance Genes via RNA
                        Interference, J. Genet. Cell Biol., 2(3), 88-95
                    </p> 
                </div>           
            </div>
            <div>
                <p>
                    <img class="icon" src="./assets/images/google_scholar.png">&nbsp;<a href="">Google Scholar</a>    
                </p>
                
                <p>
                    <img class="icon" src="./assets/images/research_gate.png">&nbsp;<a href="">Research Gate</a>    
                </p>
            </div>
            <br>
            <br>
            

        </div>
    </div>



      
</body>
</html>


